<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2>Profile registration</h2>

<form [formGroup]="myform" class="form-container">
  <h1>Profile Information</h1>

  Name <br />
  <div *ngFor="let item of result">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First Name </mat-label>
      <input matInput value="{{item.firstname}}" />
    </mat-form-field>
    &nbsp;

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last Name </mat-label>
      <input matInput value="{{item.lastname}}" />
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill" id="long" >
      <mat-label>Email-ID</mat-label>
      <input matInput placeholder="Ex. Pizza" value="{{item.email}}">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Country </mat-label>
      <input matInput value="{{item.country}}" />
    </mat-form-field>
    
  </div>
  <br />


  <!-- <ul *ngFor="let item of result" >
    <li>{{item.firstname}}</li>
  </ul> -->

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <!-- <button mat-button mat-dialog-close  >Close</button> -->
  </mat-dialog-actions>
</form>
